 <!-- Footer -->
  <footer class="footer" id="footer">
    <div class="floating-elements">
      <div class="floating-element">🚗</div>
      <div class="floating-element">🏍️</div>
      <div class="floating-element">⚙️</div>
    </div>

    <div class="footer-container">
      <div class="col">
        <h3>Tractorwala</h3>
        <p>Your premier source for quality pre-owned vehicles. We specialize in connecting buyers with reliable cars, bikes, and more automotive solutions.</p>
      </div>

      <div class="col">
        <h3>Quick Links</h3>
        <a href="#">Home</a>
        <a href="#">Cars</a>
        <a href="#">Bikes</a>
        <a href="#">More</a>
      </div>

      <div class="col">
        <h3>Contact Us</h3>
        <p>Plot No.51, MP Nagar Zone-I, Manohar Dairy, Zone-I,<br> Maharana Pratap Nagar, Bhopal, Madhya Pradesh 462011</p>
        <p>Phone: 9755889522, 7649090204, 9516166946</p>
        <p>Email: tractorwalabhopal&#64;gmail.com</p>
      </div>

      <div class="col">
        <h3>Follow Us</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/shivam.kushwaha.73113528" target="_blank" title="Facebook">
            <i class="fab fa-facebook"></i> Facebook
          </a>
          <a href="#" title="Twitter">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="https://www.instagram.com/tractorwalabhopal?igsh=bmdiaWh0Y2d1amZ4" target="_blank" title="Instagram">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 Tractorwala. All rights reserved. Empowering your automotive journey.</p>
    </div>
  </footer>

  <script src="script.js"></script>