<section class="stats-section"> 
  <div class="card-container">

    <!-- Card 1 -->
    <div class="card card-green">
      <div class="card-icon"><i class="fa-solid fa-car"></i></div>
      <div class="card-content">
        <h4>Cars In Stock</h4>
        <p #statNumber class="count" data-target="8210">8210</p>
      </div>
    </div>



    <!-- Card 3 -->
    <div class="card card-blue">
      <div class="card-icon"><i class="fa-solid fa-user"></i></div>
      <div class="card-content">
        <h4>Customers</h4>
        <p #statNumber class="count" data-target="6281">6281</p>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="card card-sky">
      <div class="card-icon"><i class="fa-solid fa-thumbs-up"></i></div>
      <div class="card-content">
        <h4>Selling Vehicle</h4>
        <p #statNumber class="count" data-target="4100">4100</p>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="card bg-orange">
      <i class="fa-solid fa-truck-pickup card-icon"></i>
      <h4>Pickup Trucks</h4>
      <p #statNumber class="count" data-target="2140">2140</p>
    </div>

    <!-- Card 6 -->
    <div class="card bg-purple">
      <i class="fa-solid fa-motorcycle card-icon"></i>
      <h4>Two Wheelers</h4>
      <p #statNumber class="count" data-target="3480">3480</p>
    </div>

  </div>
</section>
