<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Responsive Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1>
      Welcome to <span class="highlight">Tractorwala</span>
    </h1>
    <p>
      Your trusted partner for quality second-hand vehicles. We specialize in offering reliable tractors, cars, bikes, and more — all at the best value. Drive your business forward with confidence, only with Tractorwala
    </p>
    <a href="#" class="btn">View Inventory</a>
  </div>
</section>


<app-stats></app-stats>
<app-vehicles></app-vehicles>
<app-featured></app-featured>
<app-strengths></app-strengths>
<app-testimonials></app-testimonials>
<app-contact></app-contact>
<app-footer></app-footer>
